{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ meta_title|default:"My Django Website" }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if meta_description %}
    <meta name="description" content="{{ meta_description }}">
    {% endif %}

    {% if meta_keywords %}
    <meta name="keywords" content="{{ meta_keywords }}">
    {% endif %}

    <!-- Open Graph -->
    {% if meta_title %}
    <meta property="og:title" content="{{ meta_title }}">
    {% endif %}

    {% if meta_description %}
    <meta property="og:description" content="{{ meta_description }}">
    {% endif %}

    <meta property="og:type" content="website">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Google Font - Outfit -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  
  <!-- Iconify for icons -->
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
  <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>

{% comment %} Tailwind CDN {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
</head>
<style>
     * {
      font-family: 'Outfit', sans-serif;
    }
</style>
<body>

{% include "pages/includes/header.html" %}

<main role="main">
    {% block content %}{% endblock %}
</main>

{% include "pages/includes/footer.html" %}

</body>
</html>
